.expense-item {
	background-color: #de6b48;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem;
	width: 40rem;
	border-radius: 0.5rem;
	padding: 0.5rem 0;
	position: relative;
	box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.1);
}

img {
	width: 2rem;
	cursor: pointer;
	position: absolute;
	top: -0.9rem;
	right: -0.9rem;
}

h2 {
	color: black;
	font-weight: bold;
	flex: 1;
	margin-left: 1rem;
}

.expense-item__price {
	font-weight: bold;
	font-size: 1.2rem;
	color: black;
	margin-right: 1rem;
	border: 1px solid white;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	background-color: darkorange;
}
