@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

html {
	font-family: "Noto Sans JP", sans-serif;
}

body {
	margin: 0;
	background-color: #7dbbc3;
	display: flex;
	justify-content: center;
	z-index: -2;
}

.App {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
